


html {

    --lapis: #05668d;
    --blue: #427aa1;
    --offwhite: #ebf2fa;
    --eggplant: #533747;
    --orange: #FF6b35;
    --pastelblack:#1d1c1a;
    --pastelpurple: #8e24aa;
    
    background: var(--pastelblack);
}

.header {
    color: var(--offwhite);
    font-size: 4em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow:  0px 0px 2.75px var(--offwhite);
}

hr {
    max-width: 65%;
    min-width: 45%;
    height: 5px;
    border-radius: 3px;
    background-color: var(--offwhite);
    border: none;
    box-shadow: 0px 0px 2.75px var(--offwhite);
}

.block1 {
    padding: 3px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow:  0px 0px 2.75px var(--offwhite);
    color: var(--offwhite);    
    background-color: var(--pastelblack);
        
}

.discordicon {
    padding: 10px;
    text-decoration: none;
    
}


.githubicon {
    padding: 10px;
    text-decoration: none;
}

.minecrafticon {

    padding: 10px;
    text-decoration: none;
}


